.cineslider-container {
	position: relative;
	width: 100%;
	height: 100vh;
	#homepage-introduction {
		z-index: 1;
		display: block;
		transform: matrix(1, 0, 0, 1, 0, 0);
		.border {
			position: absolute;
			background-color: #e6e6e6;
			z-index: 10;
			&[data-position="top"],
			&[data-position="bottom"] {
				width: 100%;
				height: 12px;
			}
			&[data-position="left"],
			&[data-position="right"] {
				width: 12px;
				height: 100%;
			}
			&[data-position="top"] {
				top: 0;
				left: 0;
			}
			&[data-position="right"] {
				top: 0;
				right: 0;
			}
			&[data-position="left"] {
				left: 0;
				bottom: 0;
			}
			&[data-position="bottom"] {
				bottom: 0;
				right: 0;
			}
		}
		.intro-paragraph {
			position: absolute;
			font-size: 12px;
			bottom: 0;
			left: 0;
			padding: 25px;
			color: #fff;
			width: 420px;
			display: none;
			p:last-child {
				margin-bottom: 0;
			}
		}
		.videobg-container {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			overflow: hidden;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: #000;
		}
		.starwars-container {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			color: #fff;
			font-size: 48px;
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
			.starwars-wrapper {
				position: relative;
				top: 50%;
				margin-top: -68px;
				transform: translate3d(0, -50%, 0);
				p {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					white-space: nowrap;
					margin-bottom: 10px;
					&:first-child {
						position: relative;
					}
					&:last-child {
						padding-top: 56px;
					}
					a {
						position: relative;
						text-decoration: underline;
						color: #fff;
						display: inline-block;
					}
				}
			}
		}
	}
	// #homepage-technology {
	// 	background-color: #000;
	// }
	.cineslider-slide {
		left: 0;
		height: 100%;
		top: 0;
		width: 100%;
		position: absolute;
	}
}

header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	.logo {
		top: 46px;
		left: 46px;
		display: block;
		z-index: 10;
		&::after {
			zoom: 1;
			opacity: 0;
			background-image: url(http://www.feedmusic.com/images/logo.svg);
		}
		&::before {
			background-image: url(http://www.feedmusic.com/images/logo-white.svg);
		}
		&::before,
		&::after {
			transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			content: "";
		}
	}
	.logo,
	.logo:after,
	.logo:before,
	.toggle-button {
		width: 34px;
		height: 34px;
		position: absolute;
	}
	.toggle-button {
		transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
		top: 47px;
		right: 46px;
		z-index: 10;
		.lines {
			position: relative;
			width: 100%;
			height: 4px;
			background-color: #fff;
			display: block;
			top: 50%;
			margin-top: -2px;
			&:after,
			&:before {
				transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
				position: absolute;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: #fff;
				display: block;
				content: "";
			}
			&:before {
				top: -10px;
			}
			&:after {
				top: 10px;
			}
		}
		&:hover {
			.lines {
				&::before {
					transform: translateY(-2px) rotate(0);
				}
				&::after {
					transform: translateY(2px) rotate(0);
				}
			}
		}
	}
	.navigation {
		position: relative;
		text-transform: uppercase;
		font-size: 15px;
		font-family: "Avenir Next Regular", sans-serif;
		text-align: center;
		padding-top: 55px;
		padding-left: 90px;
		padding-right: 100px;
		z-index: -1;
		.group {
			position: relative;
		}
		ul {
			padding-left: 0;
			list-style: none;
			margin-left: -5px;
			margin-bottom: 10px;
			li {
				display: inline-block;
				padding: 0 14px;
			}
		}
		a {
			transition: color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
			position: relative;
			color: #fff;
			letter-spacing: 1px;
			display: block;
			.progress-border {
				transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
				opacity: 0;
				position: absolute;
				height: 5px;
				background-color: #b3b3b3;
				transform: translateY(100%);
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 1;
				.progress-line {
					position: absolute;
					top: 0;
					left: 0;
					height: 5px;
					background-color: #fff;
				}
			}
			&.active,
			&:hover {
				&:after,
				.progress-border {
					transform: translateY(0);
					zoom: 1;
					opacity: 1;
				}
			}
			&:after {
				transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
				opacity: 0;
				transform: translateY(100%);
				position: relative;
				height: 5px;
				background: #fff;
				display: block;
				content: "";
			}
		}
	}
}
